<div class="main d-flex align-items-center user-form">
  <div class="container">
    <div class="card">
      <div class="card-body  d-flex align-items-center ">
        <%= form_with model: @user, url: login_path, local: true, class: "form" do |f| %>

          <% if alert %>
            <div class="alert alert-danger alert-dismissible" role="alert">
              <%= alert %>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          <% end %>

          <h3 class="text-center text-info">ログイン</h3>

          <div class="form-group">
            <%= f.label "メールアドレス:", class: "text-info", for: "email" %>
            <%= f.email_field :email, class: "form-control", id: "email", autofocus: true, placeholder: "メールアドレス", required: true%>
          </div>

          <div class="form-group">
            <%= f.label "パスワード :", class: "text-info", for: "password" %>
            <%= f.password_field :password, class: "form-control", id: "password", autocomplete: "off",  placeholder: "パスワード", required: true %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="form-group form-check">
              <%= f.check_box :remember_me, class: "form-check-input" %>
              <%= f.label :remember_me, "パスワードを保存する", class: "form-check-label"  %>
            </div>
          <% end %>

          <%= f.submit "ログイン", class: "btn btn-info btn-md" %>

          <hr>
          <%= link_to 'パスワードを忘れた場合', new_user_password_path %>

        <% end %>
      </div>
    </div>
  </div>
</div>