<div class="users-back">
  <div class="user-search">
    <% provide(:title, 'All users') %>

    <div class="form-heading">
      <p>ユーザー一覧</p>
    </div>

    <%= search_form_for @search, url:users_index_path do |f| %>
      <div class="user-search-form">
        <%= f.label :name_cont, "名前で検索" %>
        <%= f.text_field :name_cont, class: "form-control" %>
        <div class="actions"><%= f.submit "検索" %></div>
      </div>
    <% end %>

    <% if @re_users.any? %>
      <% @re_users.each do |re_user| %>
      <div class="users-box">
          <div class="user_image">
            <%= link_to("/users/#{re_user.id}") do %>
              <img src="<%= "/user_images/#{re_user.image_name}"%>" alt="defa">
            <% end %>
          </div>

         <%= link_to(re_user.name, "/users/#{re_user.id}") %>
      </div>
      <% end %>
    <% end %>

    <% if @re_users.nil? %>
      <ul class="users">
        <p>該当ユーザーはいませんでした</p>
      </ul>
    <% end %>
  </div>


</div>
