<div class="users-back">
  <% if @user.back_image %>
    <div class="back-image">
      <img src="<%= "/back_images/#{@user.back_image}" %>" alt="noimage">
    </div>
  <% end %>

  <div class="users-indi-box">
    <div class="image-back">
      <div class="user_image">
        <img src="<%= "/user_images/#{@user.image_name}"%>" alt="defa">
      </div>
    </div>
    <%= @user.name %>
    <br>


    <% if @user.id == current_user.id %>
    <div class="profile-edit-btn">
      <%= link_to("プロフィール編集", "/users/#{@user.id}/edit") %>
    </div>
    <% end %>

    <% if current_user.id != @user.id %>
      <% if @user.followed_by?(current_user) %>
        <div class="follow">
          <%= link_to("フォロー済", "/relationships/#{@user.id}/destroy", {method: "post"})%>
        </div>
      <% else %>
        <div class="unfollow">
          <%= link_to("フォローする", "/relationships/#{@user.id}/create", {method: "post"})%>
        </div>
      <% end %>
    <% end %>


    <div class="users-tabs-btn">
    <ul class="users-tabs">
      <li>
        <%= link_to("投稿TASK", "/users/#{@user.id}") %>
      </li>
      <li>
        <%= link_to("チャレンジ中のTASK", "/users/#{@user.id}/likes") %>
      </li>
    </ul>
    </div>

    <% @posts.each do |post| %>
    <div class="post">

      <div class="posts-index-date">
        <%= post.created_at %>
        <p>期限:<%= post.limit %></p>
      </div>

        <div class="post-user">
          <div class="post-user-image">
            <%= link_to("/users/#{post.user.id}") do %>
              <img src="<%= "/user_images/#{post.user.image_name}" %>">
            <% end %>
          </div>
          <div class="post-user-name">
            <%= post.user.name %>
          </div>
        </div>

        <%= link_to("/posts/#{post.id}") do %>
      <div class="posts-index-title">
        <%= post.title %>
      </div>

      <div class="posts-index-content">
        <%= post.content %><br>

      </div>

    <% end %>
    </div>

    <% end %>
  </div>
</div>
