<div class="users-back">

  <div class="users-indi-box">


    <% if @user.back_image %>
    <div class="back-image">
      <img src="<%= "#{@user.back_image}" %>" alt="noimage">
    </div>
    <% end %>

    <div class="image-back">
      <div class="user_image">
        <img src="<%= "#{@user.image_name}"%>" alt="defa">
      </div>
    </div>
    <%= @user.name %>
    <br>


    <% if @user.id == current_user.id %>
    <div class="profile-edit-btn">
      <%= link_to("プロフィール編集", "/users/edit") %>
    </div>
    <% end %>

    <% if current_user.id != @user.id %>
      <div class="follow-switch-btn">
        <% if @user.followed_by?(current_user) %>
          <%= link_to("/relationships/#{@user.id}/destroy", {method: "post"}) do %>
            <div class="follow">
              <p>フォロー中</p>
            </div>
          <% end %>
        <% else %>
          <%= link_to("/relationships/#{@user.id}/create", {method: "post"}) do %>
            <div class="unfollow">
              <p>フォローする</p>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>


    <div class="users-tabs-btn">
    <ul class="users-tabs">
      <li class="post-task">
        <%= link_to("投稿TASK", "/users/#{@user.id}") %>
      </li>
      <li class="challenge-task">
        <%= link_to("チャレンジ中のTASK", "/users/#{@user.id}/likes") %>
      </li>
    </ul>
    </div>

    <% @posts.each do |post| %>
    <div class="post">

      <div class="posts-index-date">
        <%= post.created_at.strftime("%Y-%m-%d %H:%M") %>
        <p>期限:<%= post.limitday %></p>
        <p>場所:<%= post.place %></p>
      </div>

        <div class="post-user-show">
          <div class="post-user-image">
            <%= link_to("/users/#{post.user.id}") do %>
              <img src="<%= "#{post.user.image_name}" %>">
            <% end %>
          </div>
          <div class="post-user-name">
            <%= post.user.name %>
          </div>
        </div>

        <% if post.post_image %>
          <div class="post-index-image">
            <img src="<%= "#{post.post_image}" %>">
          </div>
        <% end %>

        <%= link_to("/posts/#{post.id}") do %>
      <div class="posts-index-title">
        <%= post.title %>
      </div>

      <div class="posts-index-content">
        <%= post.content %><br>
      </div>

      <div class="posts-index-tie">
        <h3>縛り内容</h3>
        <p><%= post.tie %></p>
      </div>

    <% end %>
    </div>

    <% end %>
  </div>
</div>
