

<div class="posts-back">

  <div class="form-heading">
    <p>TASKを編集</p>
  </div>
  <%= form_tag("/posts/#{@post.id}/update", {multipart: true}) do %>
  <div class="posts-form">
    <div class="form-body">

      <% @post.errors.full_messages.each do |message| %>
        <div class="form-error">
          <%= message %>
        </div>
      <% end %>

      <p>タイトル</p>
      <input type="text" name="title" value="<%= @post.title %>">

      <p>概要  <span>(難易度や場所も書き込んでください)</span></p>
      <textarea name="content" ><%= @post.content %></textarea>

      <p>期限<p>
      <input type="text" name="limit" value="<%= @post.limit %>">

      <p>場所<span>（任意）</span></p>
      <input type="text" name="place" value="<%= @post.place %>">

      <div class="pimage">
      <p>画像</p>
      <input name="pimage" type="file">
      </div>

      <div class="post-btn">
        <input type="submit" value="投稿">
      </div>

    </div>
  </div>
  <% end %>

</div>
