<div class="posts-back">
  <div class="posts-box">

    <%= search_form_for @search, url:posts_index_path do |f| %>
      <div class="form-group">
        <div class="search-box">
          <%= f.label :name_cont, "タイトルで検索" %>
        <%= f.text_field :title_cont, class: "form-control" %>
      </div>
      <div class="actions"><%= f.submit "検索" %></div>
      </div>
    <% end %>

    <% if @re_posts.any? %>
      <% @re_posts.each do |re_post| %>

        <div class="post">

          <div class="posts-index-date">
            <%= re_post.created_at.strftime("%Y-%m-%d %H:%M") %>
            <p>期限:<%= re_post.limit %></p>
            <p>場所:<%= re_post.place %></p>
          </div>



          <div class="post-user">
            <div class="post-user-image">
              <%= link_to("/users/#{re_post.user.id}") do %>
                <img src="<%= "/user_images/#{re_post.user.image_name}" %>">
              <% end %>
            </div>

            <div class="post-user-name">
              <%= re_post.user.name %>
            </div>
          </div>


          <% if re_post.post_image %>
            <div class="post-index-image">
              <img src="<%= "/post_images/#{re_post.post_image}" %>">
            </div>
          <% end %>

          <%= link_to("/posts/#{re_post.id}") do %>
          <div class="posts-index-title">
            <%= re_post.title %>
          </div>

          <div class="posts-index-content">
            <%= re_post.content %><br>
          </div>
          <% end %>
        </div>

     <% end %>


    <% end %>

    <% if @re_posts.nil? %>
      <ul class="posts">
        <p>該当TASKはありませんでした</p>
      </ul>
    <% end %>


  </div>
</div>
