<div class="container rounded-lg" style="margin-top: 80px; background-color: paleturquoise;">
  <h1 class="text-center font-weight-bold pt-2">Public Challenge !!</h1>
  <hr>
  <div class="row">

    <% if @public_posts.any? %>
      <% @public_posts.each do |public_post| %>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="card mb-4 shadow-sm">
            <img src="<%= public_post.post_image %>" width="100%" height="225" style="background-color: #1AD027">
            <div class="card-body">
              <h5 class="card-title"><%= public_post.title %></h5>
              <p class="card-text"><%= public_post.content %></p>

              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <%= link_to '詳細', posts_path(public_post), :class => 'btn btn-sm btn-outline-primary' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="col-sm-12">
        <h5 class="text-center font-weight-bold">Public Challengeはありません．</h5>
      </div>
    <% end %>
  </div>
</div>

<div class="container" style="margin-top: 80px">

  <% if @task_search.title_cont %>
    <h1 class="text-center font-weight-bold"><%= @task_search.title_cont %> の検索結果</h1>
  <% else %>
    <h1 class="text-center font-weight-bold">チャレンジ一覧</h1>
  <% end %>
  <hr>

  <% if @re_posts.any? %>
    <div class="row">
      <% @re_posts.each do |re_post| %>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="card mb-4 shadow-sm">
            <img src="<%= re_post.post_image %>" width="100%" height="225" style="background-color: #1AD027">
            <div class="card-body">
              <h5 class="card-title"><%= re_post.title %></h5>
              <p class="card-text"><%= re_post.content %></p>

              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <%= link_to '詳細', posts_path(re_post), :class => 'btn btn-sm btn-outline-primary' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <% if @task_search.title_cont %>
      <h5 class="text-center font-weight-bold"><%= @task_search.title_cont %> に該当するTASKはありませんでした</h5>
    <% else %>
      <h5 class="text-center font-weight-bold">タスクは未作成です</h5>
    <% end %>
  <% end %>
</div>
