<div class="posts-back">

  <div class="form-heading">
    <p>TASKを新しく作成</p>
  </div>
  <%= form_tag("/posts/create", {multipart: true, name:"send_post"}) do %>
  <div class="posts-form">
    <div class="form-body">

      <% @post.errors.full_messages.each do |message| %>
        <div class="form-error">
          <%= message %>
        </div>
      <% end %>

      <p>タイトル</p>
      <input type="text" name="title" value="<%= @post.title %>">

      <p>概要  <span>(難易度も書き込んでください ※300字以内)</span></p>
      <textarea name="content" ><%= @post.content %></textarea>

      <p>期限</p>
      <div class="input-group date" id="datetimepickerDetailTaskDeadline" data-target-input="nearest">
        <input id="DetailTaskDeadline" value="<%= @post.limitday %>" name="limitday" type="text" class="form-control datetimepicker-input" data-target="#datetimepickerDetailTaskDeadline" />
        <div class="input-group-append" data-target="#datetimepickerDetailTaskDeadline" data-toggle="datetimepicker">
          <div class="input-group-text"><i class="fa fa-calendar"></i>
          </div>
        </div>
      </div>



      <p>場所<span>（任意）</span></p>
      <input type="text" name="place" value="指定しない" >

      <div class="pimage">
      <p>画像<span>（任意）</span></p>
      <input name="pimage" type="file" accept="image/png, image/jpeg">
      </div>

      <div class="post-btn">
        <button onclick="make_post()">投稿</button>
      </div>

    </div>
  </div>
  <% end %>

</div>

<script>
  $('#datetimepickerDetailTaskDeadline').datetimepicker({
    language: 'ja',
    format: 'YYYY-MM-DD HH:mm'
  });
  function make_post() {
    if(moment($('#DetailTaskDeadline').value(),'YYYY/DD/MM HH:mm').isValid()){
      $('#DetailTaskDeadline').value() = moment($('#DetailTaskDeadline').value(),'YYYY/DD/MM HH:mm').UTC().format();
    }
    // document.send_post.submit();
    console.log(  $('#DetailTaskDeadline').value())
  }
</script>
