<div class="posts-back">
  <div class="posts-show-table">

    <%= link_to("/users/#{@user.id}") do %>
    <div class="post-user">
      <div class="post-user-image">
      <img src="<%= "/user_images/#{@user.image_name}" %>">
      </div>
      <%= @user.name %>
    </div>
    <% end %>

    <div class="posts-show-title">
      -<%= @post.title %>-
    </div>

    <% if @post.post_image %>
      <div class="post-image">
        <img src="<%= "/post_images/#{@post.post_image}" %>">
      </div>
    <% end %>

    <div class="posts-show-content">
      <%= @post.content %>
    </div>

    <% if Like.find_by(user_id: current_user.id, post_id: @post.id)%>
      <div class="challenge-on">
        <%= link_to("チャレンジ中！！", "/likes/#{@post.id}/destroy", {method: "post"}) %>
      </div>
    <% else %>
      <div class="challenge-off">
        <%= link_to("このTASKをチャレンジする", "/likes/#{@post.id}/create", {method: "post"})%>
      </div>
    <% end %>

    <div class="count-like">
      <p>このタスクをチャレンジ中の人数</p><%= @likes_count %>
    </div>

    <% if @post.user_id == current_user.id %>
    <%= link_to("編集", "/posts/#{@post.id}/edit") %>
    <%= link_to("削除", "/posts/#{@post.id}/destroy", {method: "post"}) %>
    <br>
    <% end %>


    <%= @post.created_at %><br>
    <%= @post.id %>
    <br>

    <p>コメント/達成報告</p>
    <%= form_tag("/comments/#{@post.id}/create", {multipart: true}) do %>
    <div class="comment-form">
      <div class="form-body">

        <% @post.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>

        <textarea name="comment" ></textarea><br>
        <input name="cimage" type="file"><br>
        <input type="submit" value="投稿">
      </div>
    </div>
    <% end %>

    <% @comments.each do |comment| %>
    <div class="comment-body">
        <%= link_to(comment.user.name, "/users/#{comment.user_id}") %>
      <div class="comment-user-image">
        <img src="<%= "/user_images/#{comment.user.image_name}"%>">
      </div>
        <%= comment.comment %>

        <% if comment.comment_image %>
          <div class="comment-image">
            <img src="<%= "/comment_images/#{comment.comment_image}" %>">
          </div>
        <% end %>


        <% if current_user.id == comment.user_id %>
        <%= link_to("削除", "/comments/#{comment.id}/destroy", {method: "post"})%>
        <% end %>

    </div>
    <% end %>



    <p>このタスクに挑戦中のユーザー</p>

    <% @liked_users.each do |liked_user| %>
      <%=  link_to(liked_user.name, "/users/#{liked_user.id}")%>
        <div class="users-box">
            <div class="user_image">
              <img src="<%= "/user_images/#{liked_user.image_name}"%>" alt="defa">
            </div>
        </div>
    <% end %>



  </div>
</div>
