<div class="posts-back">
  <div class="posts-show-table">

<!-- ----------------------------------post #S--------------------------------- -->


    <%= link_to("/users/#{@user.id}") do %>
     <div class="post">
         <% if @post.user_id == current_user.id %>
           <%= link_to("/posts/#{@post.id}/destroy", {method: "post"}) do %>
           <div class="destroy-btn">
             <p>削除</p>
           </div>
           <% end %>
         <% end %>

      <div class="post-show-user">
        <%= link_to("/users/#{@user.id}") do %>
        <div class="post-user-image">
        <img src="<%= "/user_images/#{@user.image_name}" %>">
        </div>
        <%= @user.name %>
        <% end %>
      </div>
    <% end %>

    <div class="post-created-date">
      <%= @post.created_at.strftime("%Y-%m-%d %H:%M") %><br>
      <p>期限:<%= @post.limit %></p>
    </div>

    <div class="posts-show-title">
      <h1><%= @post.title %></h1>
    </div>

    <% if @post.post_image %>
      <div class="post-image">
        <img src="<%= "/post_images/#{@post.post_image}" %>">
      </div>
    <% end %>

    <div class="posts-show-content">
      <%= @post.content %>
    </div>

    <% if @post.user_id == current_user.id %>
      <%= link_to( "/posts/#{@post.id}/edit") do %>
        <div class="edit-btn">
          <p>投稿を編集</p>
        </div>
      <% end %>
    <% end %>



     <!-- ---------------------------------------post #E------------------------------------ -->


    <% if Like.find_by(user_id: current_user.id, post_id: @post.id)%>
        <%= link_to("/likes/#{@post.id}/destroy", {method: "post"}) do %>
          <div class="challenge-on">
           <p>チャレンジ中</p>
          </div>
        <% end %>

        <div class="explain-challenge-btn">
          <p>↑クリックしてチャレンジをキャンセル↑</p>
        </div>

    <% else %>
        <%= link_to("/likes/#{@post.id}/create", {method: "post"}) do %>
        <div class="challenge-off">
          <p>このTASKをチャレンジする<p>
        </div>
        <% end %>

      <div class="explain-challenge-btn">
        <p>↑クリックしてTASKをチャレンジ↑</p>
      </div>

    <% end %>

    <div class="count-like">
      <h2>このタスクをチャレンジ中の人数</h2><%= @likes_count %>
      <p>人</p>
    </div>





    <br>

    <%= form_tag("/comments/#{@post.id}/create", {multipart: true}) do %>
    <div class="comment-form">
      <p>コメント/達成報告</p>
      <div class="form-body">

        <% @post.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>

        <textarea name="comment" ></textarea><br>
        <input name="cimage" type="file"><br>
        <input type="submit" value="投稿">
      </div>
    </div>
    <% end %>

  </div>

    <h1>コメント</h1>


    <% @comments.each do |comment| %>
    <div class="comment-body">
        <%= link_to("/users/#{comment.user_id}") do %>
          <div class="comment-user-image">
            <img src="<%= "/user_images/#{comment.user.image_name}"%>">
          </div>
        <% end %>


        <% if comment.comment_image %>
          <div class="comment-image">
            <img src="<%= "/comment_images/#{comment.comment_image}" %>">
          </div>
        <% end %>

        <div class="comment-content">
          <%= comment.comment %>
        </div>

        <% if current_user.id == comment.user_id %>
          <%= link_to("/comments/#{comment.id}/destroy", {method: "post"}) do %>
            <div class="edit-destroy-btn">
              <p>削</p>
            </div>
          <% end %>
        <% end %>

    </div>
    <% end %>



    <h1>このタスクに挑戦中のユーザー</h1>

    <div class="challenging-user-box">
    <% @liked_users.each do |liked_user| %>
          <div class="challenging-user">
            <%=  link_to("/users/#{liked_user.id}") do %>
              <div class="user_image">
                <img src="<%= "/user_images/#{liked_user.image_name}"%>" alt="defa">
              </div>
            <% end %>
          </div>
    <% end %>
  </div>



  </div>
</div>
