<!DOCTYPE html>
<html>
  <head>
    <title>Sharetasker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300 rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="header">
      <%= link_to '/' do %>
        <div class="header-logo">
          <h2>Sharetasker</h2>
        </div>
      <% end %>


      <div class="header-list">
        <ul>
          <% if current_user %>
            <li>
              <%= link_to(current_user.name, "/users/#{current_user.id}") %>
            </li>

            <li>
              <%= link_to("フォローユーザー", "/users/follows")%>
            </li>

            <li>
              <%= link_to("TASK一覧", '/posts/index') %>
            </li>
            <li>
              <%= link_to("TASK作成", '/posts/new') %>
            </li>
            <li>
              <%= link_to("ユーザー一覧", "/users/index")%>
            </li>
            <li>
              <%= link_to("ログアウト", "/logout", {method: :post}) %>
            </li>

          <% else %>

            <li>
              <%= link_to("ユーザー登録", "/signup") %>
            </li>
            <li>
              <%= link_to("ログイン", "/login")%>
            </li>

          <% end %>
        </ul>
      </div>
    </div>

    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>

    <% end %>
    <%= yield %>


  </body>
</html>
