<div class="main d-flex align-items-center user-form">
  <div class="container">

    <nav>
      <div class="nav nav-tabs" role="tablist">
        <a id="profile-edit-tab" class="nav-item nav-link active" data-toggle="tab" href="#profile-edit" role="tab" aria-controls="profile-edit" aria-selected="true">ユーザー編集</a>
        <a id="mail-edit-tab" class="nav-item nav-link" data-toggle="tab" href="#mail-edit" role="tab" aria-controls="mail-edit" aria-selected="false">メールアドレス変更</a>
        <a id="password-edit-tab" class="nav-item nav-link" data-toggle="tab" href="#password-edit" role="tab" aria-controls="password-edit" aria-selected="false">パスワード変更</a>
      </div>
    </nav>

    <div class="card tab-content"  style="border-top-width: 0">

      <div id="profile-edit" class="tab-pane fade show active" role="tabpanel" aria-labelledby="profile-edit-tab">
        <div class="card-body d-flex align-items-center">
          <%= form_with model: @user, url: user_registration_path, local: true, class: "form", method: 'patch' do |f| %>

            <h3 class="text-center text-info">ユーザー編集</h3>

            <div class="form-group">
              <%= f.label "ユーザーネーム:", class: "text-info", for: "username" %>
              <%= f.text_field :name, name: "name",class: "form-control", autofocus: true, placeholder: "ユーザーネーム", id: "username", required: true%>
            </div>

            <div class="form-group">
              <%= f.label "背景画像:", class: "text-info" %>

              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Upload</span>
                </div>
                <div class="custom-file">
                  <%= f.file_field :fine_name, name: "bimage", class: 'custom-file-input', accept: 'image/png, image/jpeg', id: "bimage" %>
                  <label class="custom-file-label" for="bimage" id="bimage-label">背景画像を選択(4MBまで)</label>
                </div>
              </div>
            </div>

            <div class="form-group">
              <%= f.label "アイコン画像:", class: "text-info" %>

              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Upload</span>
                </div>
                <div class="custom-file">
                  <%= f.file_field :fine_name, name: "image", class: 'custom-file-input', accept: 'image/png, image/jpeg', id: "image" %>
                  <label class="custom-file-label" for="image" id="image-label">アイコン画像を選択(4MBまで)</label>
                </div>
              </div>
            </div>

            <%= f.submit "保存", class: "btn btn-info btn-md" %>
          <% end %>
        </div>
      </div>


      <div id="mail-edit" class="tab-pane fade" role="tabpanel" aria-labelledby="mail-edit-tab">
        <div class="card-body d-flex align-items-center">
          <%= form_with model: @user, url: user_registration_path, local: true, class: "form", method: 'patch' do |f| %>

            <%= devise_error_messages! %>

            <h3 class="text-center text-info">メールアドレス変更</h3>

            <div class="form-group">
              <%= f.label "メールアドレス:", class: "text-info", for: "email" %>
              <%= f.email_field :email, class: "form-control", id: "email", autofocus: true, placeholder: "メールアドレス", required: true%>
            </div>

            <div class="form-group">
              <%= f.label "パスワード :", class: "text-info", for: "current_password" %>
              <%= f.password_field :current_password, class: "form-control", id: "current_password", autocomplete: "off",  placeholder: "パスワード", required: true %>
            </div>

            <%= f.submit "変更", class: "btn btn-info btn-md" %>
          <% end %>
        </div>

      </div>


      <div id="password-edit" class="tab-pane fade" role="tabpanel" aria-labelledby="password-edit-tab">
        <div class="card-body d-flex align-items-center">
          <%= form_with model: @user, url: user_registration_path, local: true, class: "form", method: 'patch' do |f| %>

            <%= devise_error_messages! %>

            <h3 class="text-center text-info">パスワード変更</h3>

            <div class="form-group">
              <%= f.label "現在のパスワード:", class: "text-info", for: "current_password" %>
              <%= f.password_field :current_password, class: "form-control", id: "current_password", autocomplete: "off", placeholder: "パスワード", required: true %>
            </div>

            <div class="form-group">
              <%= f.label "新しいパスワード (#{@minimum_password_length}文字以上):", class: "text-info", for: "password" %>
              <%= f.password_field :password, class: "form-control", id: "password", autocomplete: "off", minlength: @minimum_password_length, placeholder: "パスワード (#{@minimum_password_length}文字以上)", required: true %>
            </div>

            <div class="form-group">
              <%= f.label "パスワード確認:", class: "text-info", for: "password_confirmation" %>
              <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "off", minlength: @minimum_password_length, placeholder: "パスワード (確認)", required: true%>
            </div>


            <%= f.submit "変更", class: "btn btn-info btn-md" %>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>


<script>
    // 画像の最大ファイルサイズ（4MB）
    let maxSize = 4 * 1024 * 1024;

    window.onload = function () {

        $('#bimage').on("change",function () {
            // 背景画像について

            let files = this.files;

            if (files.length > 0) {
                // 選択されたファイル情報を取得
                let file = files[0];
                // readerのresultプロパティに、データURLとしてエンコードされたファイルデータを格納
                let reader = new FileReader();
                reader.readAsDataURL(file);
                reader.onload = function() {

                    // 画像以外は無視 image/png, image/jpeg
                    if (!file ||
                        ( file.type !== 'image/png' && file.type !== 'image/jpeg' ) )
                    {
                        return;
                    }


                    // 指定したサイズを超える画像は無視
                    if (file.size > maxSize) {
                        return;
                    }

                    document.getElementById("bimage-label").innerText = file.name;
                }
            }
        });

        $('#image').on("change",function () {
            // プロフィール画像について

            let files = this.files;

            if (files.length > 0) {
                // 選択されたファイル情報を取得
                let file = files[0];
                // readerのresultプロパティに、データURLとしてエンコードされたファイルデータを格納
                let reader = new FileReader();
                reader.readAsDataURL(file);
                reader.onload = function() {

                    // 画像以外は無視 image/png, image/jpeg
                    if (!file ||
                        ( file.type !== 'image/png' && file.type !== 'image/jpeg' ) )
                    {
                        return;
                    }


                    // 指定したサイズを超える画像は無視
                    if (file.size > maxSize) {
                        return;
                    }

                    document.getElementById("image-label").innerText = file.name;
                }
            }
        });

    };
</script>